@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@600;700&display=swap');

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

.header .navbar-nav .nav-link {
    color: #000 !important;
    margin-left: 12px;
    font-weight: 500;
}

.header .navbar-nav .nav-link:hover {
    color: #009 !important;
}

.navbar {
    position: fixed !important;
    z-index: 999;
    width: 100%;
    background: #fff;
}

.header a {
    color: #000;
    font-weight: normal;
    margin: 0 10px 0 10px;
}

.slider h3 {
    font-family: 'Cedarville Cursive', cursive;
    color: red;
    font-size: 36px;
}

.slider h2 {
    font-size: 40px;
}

.slider p {
    color: #74706B;
    font-weight: normal;
    font-size: 18px;
}

.slick-next {
    right: 0 !important;
    background-color: #d4d1d1 !important;
    padding: 50px 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-image: url('./../images/right.png') !important;
}

.slick-next:hover {
    background-color: #ccc !important;
}

.slick-prev {
    background-color: #d4d1d1 !important;
    padding: 50px 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    left: 0 !important;
    background-image: url('./../images/left.png') !important;
    z-index: 99;
}

.new_red {
    background-color: red;
    color: #fff;
    padding: 1px 8px;
    top: -7px;
    font-size: 9px;
    right: 14px;
    border-radius: 5px;
}

.notify {
    background-color: red;
    color: #fff;
    border-radius: 100%;
    display: flex;
    width: 18px;
    height: 18px;
    top: -10px;
    right: -5px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.slider_caption {
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    max-width: 500px;
}

.slider_caption2 {
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
}

.black_btn:hover {
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);

}

.slick-dots {
    bottom: 0 !important;
}

.slick-next:before,
.slick-prev:before {

    display: none;
}

.slick-next {
    background: #d4d1d1 url('../images/right.png') no-repeat center !important;
    background-size: 30px !important;
}

.slick-prev {
    background: #d4d1d1 url('../images/left.png') no-repeat center !important;
    background-size: 30px !important;
}

.tabs_item .slick-next {
    background: #fff url('../images/right.png') no-repeat center !important;
    background-size: 50px !important;
}

.tabs_item .slick-prev {
    background: #fff url('../images/left.png') no-repeat center !important;
    background-size: 50px !important;
}

.item_section .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    background: linear-gradient(360deg, black, transparent);
    color: #fff;

    bottom: 0;
    transition: 0.4s ease all;
    padding: 30px 12px;
    opacity: 0;

}

.item_section:hover .overlay {
    opacity: 1;
}

.item_section:hover img {
    transform: scale(1.01);
}

.overlay h3 {
    color: #fff;
}

.overlay a,
.overlay a:hover {
    color: #eee;
}

.tabs_item .nav-tabs .nav-link {
    color: #000;
    font-weight: 500;
    border: 0;
    padding-bottom: 15px;
    margin-right: 10px;
}

.tabs_item .nav-tabs .nav-link.active,
.tabs_item .nav-tabs .nav-link:hover {
    color: red;
    font-weight: 500;
    margin-bottom: 0;
    border-bottom: 2px solid red;
}

.tabs_item .slick-prev {
    left: -40px !important;
}

.tabs_item .slick-next {
    right: -40px !important;
}

.trending_item {

    left: 50%;
    transform: translateX(-50%);

    bottom: 80px;
    display: flex;
    justify-content: space-around;

    align-items: center;

}

.trending_item svg {
    background-color: #fff;
    padding: 15px;
    border: 0;
    opacity: 0;
}

.trending:hover svg {
    opacity: 1;
}

.trending_item svg:hover {
    background-color: red;
    color: #fff;
}
.trending img{
    padding-right: 10px;
}
.trending:hover .slick-slide img {
    transform: scale(1) !important;
    transition: all 0.4s ease-out !important;
}

.item_price h2 {
    padding-top: 12px;
    color: #292621;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}

.item_price h2:hover {
    color: red;
}

.item_price h3 {

    color: #74706B;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;

}

.item_price h3:hover {
    color: #000;
}

.item_price h3 span {
    display: inline-block;
    color: #CEBD9C;
    text-decoration: line-through;
    margin: 0;
    margin-left: 12px;
}

.footer {
    background-color: #171613;
    padding-top: 63px;
    padding-bottom: 60px;
}

.footer h4 {
    text-align: left;
    color: #fff;
}

.footer h4 span {
    display: block;
    font-size: 15px
}

.brand_icon svg {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
}

.brand_icon svg:hover {
    color: #FF2020;
}

.footer form button {
    background-color: #FF2020;
}

.footer1 {
    padding-bottom: 40px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.footer_logo {
    display: flex;
    color: #fff;
}

.footer_logo span {
    font-weight: 500;
    margin-left: 10px;
    font-size: 20px;
}

.footer .list-group-item {
    background-color: #171613;
    text-align: left;
    color: #BBB9B5;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
    border: 0;
}

.footer .list-group-item:hover {
    text-decoration: underline;
    transform: scale(1);
}

.footer h5 {
    text-align: left;
    transition: all 0.4s ease-out;
    font-size: 20px;
}

.login_form {
    max-width: 650px;
    text-align: left;
    margin: auto;
}

.login_form h2 {
    color: #140C40;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
    display: block;
    text-transform: capitalize;
}

.login_form h4 {
    font-family: "Jost", sans-serif;
    color: #301A22;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6;
}

.login_form form label {

    display: block;
    font-size: 17px;
    margin-bottom: 6px;
    color: #140C40;
    text-transform: capitalize;
    font-weight: 500;
    text-align: left;

}

.login_form form .form-check-label {
    font-size: 15px;
    margin-left: 3px;
}

.login_form .form-check-input[type=checkbox] {
    border-radius: 0 !important;
    padding: 8px;
}

.login_form .form-check-input:checked {
    background-color: #FF2020 !important;
    border-color: #FF2020 !important;

}

.login_form .form-check-input:focus {
    box-shadow: none !important;
}

.login_form form input {
    border-radius: 0;
    padding: 10px;
}

.login_form form a {
    color: #FF2020;
    font-size: 14px;
    font-weight: 400;
}

.login_form form a:hover {
    text-decoration: underline !important;
}

.login_form h5 {
    font-family: "Jost", sans-serif;
    color: #301A22;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6;
}

.red_btn {
    background-color: #FF2020 !important;
    height: 60px;
    padding: 10px 43px !important;
    border: 0 !important;
    color: #fff;
    text-transform: capitalize !important;
    cursor: pointer;
    font-size: 16px !important;
    border-radius: 0px !important;
}

.red_btn .btn:hover {
    background-color: #e31212 !important;
}

.cart_head {
    background-color: #f3ead8;
    padding: 90px 0 30px;
}
.cart_head a{
    color: #74706B;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 400;
}
.cart .table > :not(caption) > * > *{border: 0; }
.cart table tr td{
    padding: 40px 0 !important;
}
.cart table tr {
    border-bottom: 1px solid #eee;
    
}
.red_circle_btn {
    
        background: #FF2020;
        font-family: "Jost",sans-serif;
        padding: 12px 32px;
        color: #fff !important;
        cursor: pointer;
        display: inline-block;
        font-size: 16px !important;
        font-weight: 500 !important;
        border-radius: 35px;
    }
    .product_detail{
        background-color: #e31212;
        color: #fff;
    }
.product_detail img{
    width: 300px;
    height: 300px;
}
.product_detail h4{
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 9px;
    font-weight: 400;
    display: block;
}
.product_detail h4 span{
    font-size: 14px;
    line-height: 1.5;
    
    margin-bottom: 30px;
}
.product_detail h6{
    font-weight: 500;
text-align: left;
    font-size: 32px;
    margin-bottom: 9px;
    display: block;
}
.product_detail i{
    font-size: 16px;
}
.product_detail h5{
    font-size: 13px;
    text-align: left;
}
.product_detail .red_circle_btn{
    background-color: #fff;
    color: #FF2020 !important;
    text-align: center !important;
    display: inline-block;
    padding: 10px 25px !important;
}
.product_detail .red_circle_btn:hover{
    box-shadow: 0px 3px 31px 2px rgba(207,207,207,0.7);
background-color: #FF2020;
color: #fff !important;
}
.share_btn {
    background-color: #fff;
    color: #FF2020;
    padding: 10px;
    font-size: 20px;
    border-radius: 100%;
    margin-left: 10px;
    
}
.share_btn:hover {
    box-shadow: 0px 3px 31px 2px rgba(207,207,207,0.7);
    background-color: #FF2020;
    color: #fff !important;
}
.cart table h4{
    font-weight: 400;
    font-size: 16px;
    padding: 0 25px;
}
.cart table button{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
    font-weight: 500;
}